# ignore all .pngs
*.png
weights/*

.devcontainer
.env
# Pycache
**__pycache__**
results*/
_results*/
*.pt
*.gz
*.zip
*.zip.1
yolov7
weights
datasets
dev.ipynb
test.py
*.lprof
*.pkl
*.svg
consumed_topics*