numpy
einops
salesforce-lavis
rerun-sdk
#timm>=1.0.7
git+https://github.com/facebookresearch/detectron2.git
#git+https://github.com/facebookresearch/habitat-sim.git@v0.2.4
inference-gpu[yolo-world]
supervision
spock-config
depth_camera_filtering@git+https://github.com/naokiyokoyama/depth_camera_filtering
habitat-baselines==0.2.420230405
habitat-lab==0.2.420230405
git+https://github.com/ChaoningZhang/MobileSAM.git
scikit-fmm
ultralytics==8.2.73
transforms3d
protobuf==3.20.1
git+https://github.com/xb534/SED/#subdirectory=open_clip
scikit-learn
spock-config==3.1.0
